[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "saeHB.hnb"]
	path = saeHB.hnb
	url = https://github.com/rakaikmana/saehb.hnb
	shallow = true
	registered = true
